html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* my css below */

.layout {
  background-color: #008080;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #c3c3c3;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid white;
}

/* .footer-bar {
  background-color: #c3c3c3;
  position: relative;
} */

.start-button {
  background-color: #c3c3c3;
  height: min-content;
  display: flex;
  align-items: center;
  margin: 3px;
  border-top: 1px solid white;
  border-left: 1px solid white;

}
